/*
    Overrides various JQuery-UI styling we don't want
*/
.wv-tabbox .ui-tabs-nav li {
    font-size: 50%;
    background: transparent;
    border: none;
    outline-color: transparent;
}

.wv-tabbox .ui-tabs-nav .ui-state-default a {
    background: transparent;
    border: none;
    outline-color: transparent;
}

.wv-tabbox .ui-tabs-nav .ui-state-active a {
    background: transparent;
    border: none;
    outline-color: transparent;
}

.wv-tabbox .ui-tabs-nav {
    padding: 0px;
}

.wv-tabbox .ui-widget-header {
    background: transparent;
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.wv-tabbox.ui-widget-content {
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;

}
