.wv-widget {
    cursor: pointer;
    display: inline !important;
    vertical-align: baseline !important;
    margin: 0px !important;
    padding: 0px !important;
    border: 0 !important;
}

.wv-markup {
    white-space: nowrap;
}

.wv-box {
    height: 300;
    width: 300;
    margin: 0px;
    padding: 0px;
    z-index: 30;
    font-family: sans-serif;
}

.wv-header {
    top: 0px;
    left: 0px;
    height: 80px;
    width: 300px;
    text-indent: 30px;
    font-weight: bold;
    text-align: right;
/* For dev purposes */
    border-radius: 4px;
    color: #333;
    background-color: lightsteelblue;

}

.wv-subtitle{
    font-size: 0.4em;
    line-height: 1.1em;
    text-decoration: none;
    white-space: normal;
}

.wv-title {
    position: absolute;
    top: 5px;
    right: 10px;
    max-width: 230px;
    font-size: 1.7em;
    white-space: nowrap;
    overflow: hidden;
}

.wv-title.wv-reduced {
    font-size: 1.1em;
    white-space: normal;
}

.wv-flag {
    position: absolute;
    top: 0px;
    left: 10px;
}

.wv-tabbox {
    height: 236px;
    position: relative;
}

.wv-tab {
    display: inline-block;
    background-color: lightgreen;
}

.wv-tab .wv-content {
    z-index: -10;
    width: 100%;
    height: 236px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 9pt;
    border-radius: 4px;
}

.wv-tab.top .wv-content {
    z-index: inherit;
}

.wv-tab .wv-tab-label {
    z-index: 31;
    position: relative;
    top: -15px;
    background-color: inherit;
    display: inline-block;
    padding-left: 5px;
    padding-right: 15px;
    cursor: pointer;
    border-top-right-radius: 3px;
    font-size: 8pt;
    font-weight: bold;
    color: steelblue;
}

.wv-table {
    width: 280px;;
    font-size: inherit;
    margin: 5px;
/*    border: 1pt solid black; */
}

.wv-table td:first-child {
    font-weight: bold;
}

.wv-box td {
    width: 70px;
    vertical-align: top;
   /* border: 1pt solid black;*/
}
