/*
    A surprising number of CSS properties can be inherited by the
    widget from the parent page, breaking everything horribly.
*/
.wv-widget {
    cursor: pointer;
    display: inline !important;
    vertical-align: baseline !important;
    margin: 0px !important;
    padding: 0px !important;
    border: 0 !important;
    width: 11px !important;
    height: 11px !important!;
    float: none !important!;
}

.wv-markup {
    white-space: nowrap;
}

.wv-outermost {
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    z-index: 30;
    font-family: sans-serif;
}

.wv-header {
    top: 0px;
    left: 0px;
    height: 80px;
    width: 300px;
    text-indent: 30px;
    font-weight: bold;
    text-align: right;
/* For dev purposes */
    border-radius: 4px;
    color: #333;
    background-color: lightsteelblue;

}

.wv-subtitle{
    font-size: 0.4em;
    line-height: 1.1em;
    text-decoration: none;
    white-space: normal;
}

.wv-title {
    position: absolute;
    top: 5px;
    right: 10px;
    max-width: 230px;
    font-size: 1.7em;
    white-space: nowrap;
    overflow: hidden;
}

.wv-title.wv-reduced {
    font-size: 1.1em;
    white-space: normal;
}

.wv-flag {
    position: absolute;
    top: 0px;
    left: 10px;
}

.wv-outermost .wv-tabbox {
    background: none;
    background-color: lightgreen;
    height: 220px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wv-outermost .wv-tab-content {
    font-family: sans-serif;
    font-size: 9pt;
}

.wv-table {
    width: 280px;
    font-family: inherit;
    font-size: inherit;
    margin: 5px;
/*    border: 1pt solid black; */
}

.wv-table td:first-child {
    font-weight: bold;
}

.wv-box td {
    width: 70px;
    vertical-align: top;
   /* border: 1pt solid black;*/
}
