<div id='wv-box-{{iso2}}' class='wv-outermost'>
    <div class='wv-header'>
        <img class='wv-flag' src="{{context.url}}/{{iso2}}.png" alt="Flag of {{name}}" />
        <div class='wv-title'>
            {{ name }}
            <div class='wv-subtitle'>
                {{ official }}
            </div>
        </div>
    </div>

    <div class='wv-tabbox'>
        <ul>
            <li><a href='#tab1'><span>Geog.</span></a></li>
            <li><a href='#tab2'><span>Econ.</span></a></li>
            <li><a href='#tab3'><span>Pop.</span></a></li>
            <li><a href='#tab4'><span>Dev.</span></a></li>
        </ul>
        <div id='tab1' class='wv-tab-content'>
                <table class='wv-table'>
                    <tr>
                    </tr>
                    <tr>
                        <td>
                            Capital:
                        </td>
                        <td>
                            {{capital}}
                        </td>
                    </tr>                   <tr>
                        <td>
                            Population:
                        </td>
                        <td>
                            {{SP-POP-TOTL.value}} ({{SP-POP-TOTL.date}})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Languages:
                        </td>
                        <td>
                            {{#languages}}
                                {{.}}<br />
                            {{/languages}}
                        </td>
                    </tr>
                </table>
        </div>
        <div id='tab2' class='wv-tab-content'>
                Currency is {{currency}}
        </div>
        <div id='tab3' class='wv-tab-content'>
            Borders:
                <ul>
                {{#borders}}
                    <li> {{.}}</li>
                {{/borders}}
                {{^borders}}
                    <li>Island Nation</li>
                {{/borders}}
                </ul>
        </div>
        <div id='tab4' class='wv-tab-content'>
                <table>
                    <tr>
                        <td colspan='3'>
                                Development Indicators
                        </td>
                    </tr>
                    <tr>
                        <td rowspan=''>
                            Adult Literacy:
                        </td>
                        <td>{{SE-ADT-LITR-ZS.value}}% ({{SE-ADT-LITR-ZS.date}})
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="0.5">
                            <big>&#9794;</big> {{SE-ADT-LITR-MA-ZS.value}}%
                        </td>
                        <td colspan="0.5">
                            <big>&#9792;</big> {{SE-ADT-LITR-FE-ZS.value}}%
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>
