<div class='wv-box'>
    <div class='wv-header'>
        {{ name }}
    </div>
    <div class='wv-tabbox'>
        <div class='wv-tab top'>
            <div class='label'>Geo</div>
            <div class='content'>Here is Geo data</div>
        </div>
        <div class='wv-tab'>
            <div class='label'>Econ</div>
            <div class='content'>Here is Econ data</div>
        </div>
        <div class='wv-tab'>
            <div class='label'>Trade</div>
            <div class='content'>Here is Trade data</div>
        </div>
        <div class='wv-tab'>
            <div class='label'>Dev</div>
            <div class='content'>Here is Dev data</div>
        </div>
    </div>
</div>
